<h5 class="domain-section">{{id}} {{#detail.title.value}}({{detail.title.value}}){{/detail.title.value}}
  <div data-toggle="popover" data-title="所属域" data-container="body" data-placement="right" data-content="{{{detail.markup}}}" class="glyphicon glyphicon-info-sign" aria-hidden="true" style="top:2px; padding-left: 5px;"></div>
</h5>

