<h4>区块编号</h4>
<h5>签到：{{#signIn.trx}}{{>blockLink}}{{/signIn.trx}} / 签退：{{#signOut.trx}}{{>blockLink}}{{/signOut.trx}}</h5>

<h4>所属域</h4>
{{#domain}}
{{>domain}}
{{/domain}}
<h4>签到编号</h4>
<p>{{signIn.name}}</p>
<h4>签退编号</h4>
<p>{{signOut.name}}</p>
<h4>区块链技术</h4>
{{>everitoken}}
<h4>链上事务编号</h4>
<p>签到：{{signIn.trx.id}}</p>
<p>签退：{{signOut.trx.id}}</p>
<h4>原始数据</h4>
<a href="https://evtscan.io/nonfungible/token/{{signIn.id}}" target="__blank" alt="签到数据">签到数据</a>
<a href="https://evtscan.io/nonfungible/token/{{signOut.id}}" target="__blank" alt="签退数据">签退数据</a>

